@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background: url("../img/background.svg");
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%;
}

@media (min-width: 1000px) {
    #wrapper #mainBlock {
        width: 58%;
        margin-left: 20%;
        padding: 1%;
    }

    #wrapper #mainBlock .mainLogo {
        width: 20%;
        margin-left: 39%;
    }

    #wrapper #mainBlock .mainForm {
        width: 56%;
        margin-top: 2%;
        margin-left: 20%;
        padding: 2%;
    }

    #wrapper #mainBlock .mainForm .mainFormTitle {
        font-size: 2.5em;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField {
        font-size: 1.2em;
        width: 64%;
        padding: 5%;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField:focus {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formFieldIcon {
        width: 20%;
        padding: 3% 2%;
    }

    #wrapper #mainBlock .mainForm .form .formButton {
        font-size: 1.3em;
    }
}

@media (max-width: 999px) and (min-width: 830px) {
    #wrapper #mainBlock {
        width: 68%;
        margin-left: 15%;
        padding: 1%;
    }

    #wrapper #mainBlock .mainForm {
        width: 56%;
        margin-top: 2%;
        margin-left: 20%;
        padding: 2%;
    }

    #wrapper #mainBlock .mainLogo {
        width: 26%;
        margin-left: 36%;
    }

    #wrapper #mainBlock .mainForm .mainFormTitle {
        font-size: 2.4em;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField {
        font-size: 1.2em;
        width: 64%;
        padding: 5%;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField:focus {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formFieldIcon {
        width: 20%;
        padding: 3% 2%;
    }

    #wrapper #mainBlock .mainForm .form .formButton {
        font-size: 1.3em;
    }
}

@media (max-width: 829px) and (min-width: 620px) {
    #wrapper #mainBlock {
        width: 78%;
        margin-left: 10%;
        padding: 1%;
    }

    #wrapper #mainBlock .mainForm {
        width: 66%;
        margin-top: 2%;
        margin-left: 15%;
        padding: 2%;
    }

    #wrapper #mainBlock .mainForm .mainFormTitle {
        font-size: 2.2em;
    }

    #wrapper #mainBlock .mainLogo {
        width: 30%;
        margin-left: 34%;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField {
        font-size: 1em;
        width: 64%;
        padding: 5%;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField:focus {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formFieldIcon {
        width: 15%;
        padding: 3% 2%;
    }

    #wrapper #mainBlock .mainForm .form .formButton {
        font-size: 1.1em;
    }
}

@media (max-width: 619px) and (min-width: 450px) {
    #wrapper #mainBlock {
        width: 88%;
        margin-left: 5%;
        padding: 1%;
    }

    #wrapper #mainBlock .mainLogo {
        width: 30%;
        margin-left: 34%;
    }

    #wrapper #mainBlock .mainForm {
        width: 76%;
        margin-top: 2%;
        margin-left: 10%;
        padding: 2%;
    }


    #wrapper #mainBlock .mainForm .mainFormTitle {
        font-size: 2em;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField {
        font-size: 0.8em;
        width: 90%;
        padding: 4%;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField:focus {
        border-radius: 7px;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formFieldIcon {
        width: 0;
        padding: 0;
    }

    #wrapper #mainBlock .mainForm .form .formButton {
        font-size: 0.9em;
    }
}

@media (max-width: 449px) {
    #wrapper #mainBlock {
        width: 92%;
        margin-left: 1%;
        padding: 3%;
    }

    #wrapper #mainBlock .mainForm {
        width: 86%;
        margin-top: 2%;
        margin-left: 5%;
        padding: 2%;
    }

    #wrapper #mainBlock .mainForm .mainFormTitle {
        font-size: 1.8em;
    }

    #wrapper #mainBlock .mainLogo {
        width: 40%;
        margin-left: 29%;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField {
        font-size: 0.8em;
        width: 90%;
        padding: 4%;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formField:focus,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField:focus {
        border-radius: 7px;
    }

    #wrapper #mainBlock .mainForm .form .formFieldBlock .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsValid .formFieldIcon,
    #wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formFieldIcon {
        width: 0;
        padding: 0;
    }

    #wrapper #mainBlock .mainForm .form .formButton {
        font-size: 0.9em;
    }
}

#wrapper #mainBlock .mainLogo {
    display: inline-block;
    padding: 1% 1% 0;
    background-size: cover;
}

#wrapper #mainBlock .mainLogo img {
    width: 96%;
    padding: 2%;
}

#wrapper #mainBlock .mainForm {
    text-align: center;
    background-color: rgba(60, 112, 160, .25);
    border-radius: 10px;
    border: 1px solid rgba(255, 187, 114, .5);
}

#wrapper #mainBlock .mainForm .mainFormTitle {
    display: inline-block;
    width: 90%;
    font-weight: bold;
    color: #ff6f40;
    text-transform: uppercase;
    padding: 3%;
    border-bottom: 2px solid orange;
    margin: 1%;
}

#wrapper #mainBlock .mainForm .form {
    width: 80%;
    margin-left: 10%;
}
#wrapper #mainBlock .mainForm .form .formFieldBlock,
#wrapper #mainBlock .mainForm .form .formFieldIsValid,
#wrapper #mainBlock .mainForm .form .formFieldIsNotValid {
    display: inline-block;
    width: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 7px;
}

#wrapper #mainBlock .mainForm .form .formFieldBlock {
    background-color: rgba(201, 141, 93, .6);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#wrapper #mainBlock .mainForm .form .formFieldIsValid {
    background-color: rgba(107, 210, 95, .6);
    border-bottom: 2px solid rgba(250, 255, 0, .9);
}

#wrapper #mainBlock .mainForm .form .formFieldIsNotValid {
    background-color: rgba(255, 28, 28, .7);
    border-bottom: 2px solid rgb(255, 178, 95);
}

#wrapper #mainBlock .mainForm .form .formFieldBlock .formFieldIcon,
#wrapper #mainBlock .mainForm .form .formFieldIsValid .formFieldIcon,
#wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formFieldIcon {
    display: inline-block;
    float: left;
    background-size: cover;
}

#wrapper #mainBlock .mainForm .form .formFieldBlock .formFieldIcon img,
#wrapper #mainBlock .mainForm .form .formFieldIsValid .formFieldIcon img,
#wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formFieldIcon img {
    width: 50%;
}

#wrapper #mainBlock .mainForm .form .formFieldBlock #usernameIcon,
#wrapper #mainBlock .mainForm .form .formFieldIsValid #usernameIcon,
#wrapper #mainBlock .mainForm .form .formFieldIsNotValid #usernameIcon {
    background: url("../img/user.svg") center no-repeat;
}

#wrapper #mainBlock .mainForm .form .formFieldBlock #passwordIcon,
#wrapper #mainBlock .mainForm .form .formFieldIsValid #passwordIcon,
#wrapper #mainBlock .mainForm .form .formFieldIsNotValid #passwordIcon {
    background: url("../img/key.svg") center no-repeat;
}

#wrapper #mainBlock .mainForm .form .formFieldBlock .formField,
#wrapper #mainBlock .mainForm .form .formFieldIsValid .formField,
#wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    outline: none;
    color: rgb(255, 163, 63);
    float: right;
}

#wrapper #mainBlock .mainForm .form .formFieldBlock .formField:focus {
    border-bottom: 2px solid orange;
    background-color: rgba(201, 141, 93, .5);
}

#wrapper #mainBlock .mainForm .form .formFieldIsValid .formField:focus {
    background-color: rgba(80, 222, 60, .6);
    color: #f7f7f7;
}

#wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField:focus {
    background-color: rgba(255, 47, 47, .6);
    color: #f7f7f7;
}

#wrapper #mainBlock .mainForm .form .formFieldBlock .formField::-webkit-input-placeholder,
#wrapper #mainBlock .mainForm .form .formFieldIsValid .formField::-webkit-input-placeholder,
#wrapper #mainBlock .mainForm .form .formFieldIsNotValid .formField::-webkit-input-placeholder {
    color: rgb(255, 187, 114);
}

#wrapper #mainBlock .mainForm .form .formButton {
    display: inline-block;
    width: 95%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    background-color: rgba(252, 111, 88, .7);
    border-radius: 7px;
    padding: 5%;
    border: 2px solid rgba(255, 255, 255, 0);
    text-transform: uppercase;
    outline: none;
    color: rgb(255, 178, 95);
    font-weight: bold;
}

#wrapper #mainBlock .mainForm .form .formButton:hover {
    cursor: pointer;
    background-color: rgb(255, 104, 70);
    color: rgb(255, 200, 95);
    border-bottom: 2px solid rgb(252, 156, 88);
}

.animation {
    text-decoration: none;
    -webkit-trasition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
}