<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block title %}
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>OAuth Service</title>
        {% endif %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <script rel="stylesheet" src="{{ url_for("static", filename="js/validation.js") }}"></script>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>